main {
    padding-top: 1rem;
}
.info-box {
    padding: 0.5rem;
    border-radius: 5px;
    border: 0.1rem solid #ccc;
    margin-bottom: 1rem;
    min-height: 8rem;
}
.cart-items {
}

.cart-items-area {
    margin-bottom: 1rem;
}
.cart-item-desc-area {
    text-align: left;
}
.cart-item-quantity-area {
    text-align: right;
}
.cart-item-quantity-select-area {
    margin-bottom: 1rem;
}
.menu-quantity-select {
    width: 5rem;
}
.cart-order-btn-area {
    text-align: center;
}
.order-btn {
    width: 95%;
}