.main-nav-bar-area {
    margin-bottom: 1.5rem;
}
.order-history-detail-btn-area {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}
.order-history-detail-btn {
    width: 80%;
}