<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/search-top.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/menu/menu-detail.css"/>
    <title>메뉴 상세</title>
</head>
<body>

<!-- 상단 헤드 -->
<header class="navbar sticky-top navbar-dark bg-white header-padding">
    <input type="hidden" id="storeId" name="storeId" th:value="${storeId}">
    <input type="hidden" id="menuId" name="menuId" th:value="${menuId}">
    <input type="hidden" id="customerId" name="customerId" th:value="${customerId}">

    <button type="button" class="btn header-back-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </button>

    <span class="header-title" th:text="${menuDetail.menuName}"></span>

    <div class="header-right-area">
        &nbsp;
    </div>
</header>

<!-- 컨텐츠 -->
<main class="container-fluid menu-detail-main">
    <div class="row store-hero-image-area">
        <img th:src="${menuDetail.menuMainImageUrl}" class="menu-main-image thumbnail rounded">
    </div>

    <div>
        <div class="row">
            <div class="col-6 menu-detail-price-label">
                <span class="menu-price" th:text="|가격: ${#numbers.formatInteger(menuDetail.menuPrice,1,'COMMA')}원|"></span>
            </div>
            <div class="col-6  menu-detail-menu-quantity">
                <span class="menu-count">1</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 menu-detail-menu-quantity-label">
                <span>수량</span>
            </div>
            <div class="col-6 menu-detail-menu-quantity-select">
                <select name="menu-quantity" class="menu-quantity-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
    </div>

    <div class="menu-detail-cart-btn-area">
        <button type="button" class="btn btn-primary menu-detail-cart-btn">장바구니 담기</button>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/auth/jwt-refresh.js"></script>
<script src="/js/menu/menu-detail.js"></script>
</body>
</html>