<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home/home.css">
  <link rel="stylesheet" href="/css/common/store-item.css">
</head>
<body>

<!-- Top 영역 -->
<header class="navbar navbar-expand-md sticky-top navbar-dark bg-white">
  <button type="button" class="btn" id="currentAddressBtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-geo-alt top-geo-icon" viewBox="0 0 16 16">
      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
    <span class="current-address-text"></span>
  </button>
  <button type="button" class="btn cart-count-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-fill top-cart-icon" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
    </svg>
    <span th:text="${cartItemCount}"></span>
  </button>
</header>

<!-- Content 영역 -->
<div class="container">
  <main>
    <div class="container-fluid">

      <div class="row search-area">
        <input type="text" class="form-control home-search-box" name="search-keyword" placeholder="검색어를 입력하세요">
      </div>

      <div class="category-area">
        <a href="/display/stores?categoryId=1"><img src="/images/categories/chicken-leg.png" class="category-thumb"></a>
        <a href="/display/stores?categoryId=2"><img src="/images/categories/ramen.png" class="category-thumb"></a>
        <a href="/display/stores?categoryId=3"><img src="/images/categories/schnitzel.png" class="category-thumb"></a>
        <a href="/display/stores?categoryId=4"><img src="/images/categories/meat.png" class="category-thumb"></a>
      </div>

      <div class="category-area">
        <a href="/display/stores?categoryId=5"><img src="/images/categories/noodle.png" class="category-thumb"></a>
        <a href="/display/stores?categoryId=6"><img src="/images/categories/bento.png" class="category-thumb"></a>
        <a href="/display/stores?categoryId=7"><img src="/images/categories/bossam.png" class="category-thumb"></a>
        <a href="/display/stores?categoryId=8"><img src="/images/categories/tteokbokki.png" class="category-thumb"></a>
      </div>

      <div class="category-area">
        <div class="home-favorite-store">
          <h3>자주 주문하는 매장</h3>

          <!-- 자주 찾는 매장 -->
          <div class="home-fav-store-item" th:each="recentOrderStore: ${recentOrderStores}">
            <img src="/images/food1.png" alt="food" class="store-item-thumb rounded">
            <div class="row">
              <div class="col-6 home-fav-menu-name"><span th:text="${recentOrderStore}"></span></div>
              <div class="col-6 home-fav-menu-delivery-time"><span th:tel="|${recentOrderStore.deliveryTime}|"></span></div>
            </div>
            <div class="row">
              <div class="col-6 home-fav-menu-name"><span th:text="|평점: ${recentOrderStore.reviewGrade}|"></span></div>
              <div class="col-6 home-fav-menu-delivery-time"><span th:text="| 배달비 ${#numbers.formatInteger(recentOrderStore.deliveryFee,1,'COMMA')}원|"></span></div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </main>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/home/home.js"></script>
</body>
</html>